# Force npm to run node-gyp with node
node-linker=hoisted
# Set npm registry
registry=https://registry.npmjs.org/
# Set strict-ssl to false to avoid SSL issues
strict-ssl=false
# Set progress to false to reduce log output
progress=false